Leaf-list stores multiple duplicate values

Hello,
I noticed in [RFC 6020 section 7.7 for leaf-list](https://tools.ietf.org/html/rfc6020#section-7.7) that there is a requirement on leaf-list which we do not follow in pyangbind.

`The values in a leaf-list MUST be unique.`

### Example:
Given the following yang model:
```yang
module test {
    namespace "http://foo/bar/test/1.0";
    prefix test;
    leaf-list my-leaf-list {
        type string;
    }
}
```
#### Expected
```python
>>> from test import test
>>> from pyangbind.lib.xpathhelper import YANGPathHelper
>>>
>>> graph = test(ph=YANGPathHelper())
>>>
>>> graph.my_leaf_list = ['foo', 'foo']
>>> graph.get()
{'my-leaf-list': [u'foo']}
```
#### Actual
```python
>>> graph.get()
{'my-leaf-list': [u'foo', u'foo']}
```

I think the leaf-list structure might need to resemble a set instead of a list, unless I misunderstood the rfc.